@import "../../common/stylus/reset.css";

body {
  background #f5f5f5;
}

.iconfont {
  font-size .32rem;
}

.dl {
  width 1rem;
  height 1rem;
  background-image url("./img/github.png");
  background-size .6rem;
  background-position center;
  background-repeat no-repeat;

  position absolute;
  bottom 0;
  right 0;
}

.todo-list-item {
  font-size .28rem;
  display flex;
  justify-content: space-between;
  padding: 0 20px;
  margin-bottom: 10px;
}

.title {
  text-align center;
  font-size .30rem;
}