{
  "presets": [
    "react",
    [
      "env",
      {
        "modules": false
      }
    ]
  ],
  "plugins": [
    "transform-regenerator",
    "transform-decorators-legacy",
    "react-hot-loader/babel"
  ]
}