@import "../../common/stylus/reset.css";

body {
  background #f8f8f8;
}

.dl {
  width 50px;
  height 50px;
  background-image url("img/github.png");
  background-size 30px;
  background-position center;
  background-repeat no-repeat;
}

.todo-list-item {
  display flex;
  justify-content: space-between;
  padding: 0 20px;
  margin-bottom: 10px;
}

.title {
  text-align center;
}