
.modal {
  position fixed;
  left 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index 2;
  background rgba(0, 0, 0, .4);
  .btn-action {
    display flex;
    width 180px;
    //margin 10 auto 0 auto;
    margin auto;
    justify-content space-around;

  }
  .modal-inner {
    margin 0 40px;
    background #fff;
    color #333;
    text-align center;
    padding:10px;
    margin-top 80px;

  }
}